/*==================== FORM ====================*/

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-top: -45px;
    width: 100%;
    background-color: #f6f6f6;
    padding: 32px 14px;
    border-radius: 40px 40px 0 0;
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Shrikhand", sans-serif;
        margin-left: 5px;
        margin-right: 20px;
    }
    &__group {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        &__title {
            position: relative;
            margin-bottom: 6px;
            font-size: 1rem;
            font-weight: 400;
            margin-left: 5px;
            animation: menu-item 1s ease-out forwards;
            &::before {
                content: "";
                position: absolute;
                bottom: -8px;
                left: 0;
                height: 3px;
                width: 50px;
                background-color: #99e2d0;
            }
        }
    }
    &__item {
        position: relative;
        display: flex;
        border-radius: 20px;
        list-style: none;
        border: inherit;
        overflow: hidden;
        box-shadow: 0 0 16px 1px  rgba(119, 119, 119, 0.3);
    }
    &__label {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        width: 100%;
        height: 100%;
        padding: 16px;
        background-color: #fff;
        border: inherit;
        transition: width .5s ;
        &__title {
            font-weight: 700;
        }
        span {
            white-space: nowrap; 
            text-overflow: ellipsis;
            overflow: hidden;
            width: calc(100% - 50px);
        }
        strong {
            right: 16px;
            position: absolute;
            font-weight: 600;
        }
    }
    .check-animated {
        position: absolute;       
        z-index: -1;     
        height: 100%;
        top: 0;
        right: 0;
        background-color: #99e2d0;
        width:100px;
        i {
            position: absolute;
            z-index: 2;    
            font-size: 30px; 
            top: 20px;
            right: -60px;
            color: #fff;
            transition: transform .5s;
        }
    }
    input[type=checkbox] {
        height: 0;
        width: 0;
        visibility: hidden;
    }
    .btn {
        padding: 0 45px;
        margin-bottom: 30px;
    }
}

