/*====== like ======*/
.like {
    display: flex !important;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        animation: heart 1s forwards;
    }   
}
@keyframes heart {
    0% {
        color: transparent;
        opacity: 0;
    }
    10% {
        background: linear-gradient(-135deg, $primary, $secondary);
        -webkit-background-clip: text;
        font-weight: 600;
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        color: transparent;
        background: linear-gradient(-135deg, $primary, $secondary);
        -webkit-background-clip: text;
        font-weight: 600;
        opacity: 1;
    }
}