/*######################### ABSTRACTS #############################*/ /*====== FONTS ======*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@100;400&display=swap");
/*######################### BASE ##################################*/
/*====== RESET ======*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/*######################### LAYOUTS ###############################*/
/*====== HEADER ======*/
.header {
  position: relative;
  display: flex;
  height: 62px;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0px 2px 5px #d0d0d0;
}
.header__title {
  font-family: "Shrikhand", sans-serif;
}

/*====== FOOTER ======*/
.footer__list {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: #fff;
  padding: 32px 20px;
  gap: 8px;
}
.footer__list a {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  height: 20px;
  gap: 10px;
}
.footer__list i {
  width: 12px;
}
.footer__list i.fa-hands-helping {
  font-size: 0.6rem;
}
.footer__logo {
  height: 16px;
  margin-bottom: 10px;
}

/*######################### PAGES #################################*/
/*====== HOME ======*/
.home {
  position: relative;
  display: flex;
  flex-direction: column;
  /*** LOCATION ***/
  /*** PREVIEW ***/
}
.home .location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 50px;
  background-color: #eaeaea;
}
.home .location__text {
  font-weight: bold;
  opacity: 1;
}
.home .preview {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home .preview .section__title {
  padding: 0 36px;
}
.home .operating-steps {
  background-color: #fff;
}
.home .operating-steps .section__title {
  padding-left: 10px;
}
.home .operating-steps__list {
  position: relative;
}
.home .operating-steps__item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  padding: 0 32.5px;
  background-color: #f6f6f6;
  height: 70px;
  border-radius: 15px;
  box-shadow: 0 0 16px 0 rgba(65, 55, 55, 0.3);
  margin-left: 10px;
}
.home .operating-steps__item i {
  color: #7e7e7e;
}
.home .operating-steps__item:hover {
  background-color: #f5edff;
}
.home .operating-steps__item:hover i {
  color: #9356DC;
}
.home .operating-steps__number {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: white;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  left: -12.5px;
  border-radius: 50%;
}
.home .operating-steps__text {
  font-weight: 600;
}

/*====== SECTION ======*/
.section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: #f6f6f6;
  padding: 50px 16px;
}
.section__title {
  font-weight: 900;
}
.section__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/*######################### COMPONENTS ############################*/
/*====== BUTTONS ======*/
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  height: 50px;
  background: linear-gradient(-15deg, #9356DC, #FF79DA);
  color: white;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  margin: 0 auto;
  padding: 0px 24px;
  transition: box-shadow 0.5s, background 0.5s;
}
.btn:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.btn-primary {
  color: #fff;
  background: linear-gradient(-15deg, #9356DC, #FF79DA);
}
.btn-primary:hover {
  background: linear-gradient(-15deg, rgba(147, 86, 220, 0.8), rgba(255, 121, 218, 0.8));
}

/*==================== CARD ====================*/
.card {
  position: relative;
  background-color: #fff;
  border-radius: 18px;
  z-index: 1;
  width: 100%;
}
.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: inherit;
  box-shadow: 0px 2px 2px #f2f3f3, 0px 4px 4px #f2f3f3, 0px 6px 6px #f2f3f3;
  filter: brightness(0.95);
  transition: filter 0.2s ease-in-out;
}
.card:hover::after {
  filter: brightness(0.9);
}
.card.new::before {
  position: absolute;
  content: "Nouveau";
  padding: 10px;
  top: 20px;
  right: 20px;
  background-color: #99e2d0;
}
.card__img {
  height: 180px;
}
.card__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}
.card__body {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 14px 25px 14px 10px;
}
.card__title {
  display: flex;
  justify-content: space-between;
}
.card__text {
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.8;
}

/*====== like ======*/
.like {
  display: flex !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.like:hover {
  animation: heart 1s forwards;
}

@keyframes heart {
  0% {
    color: transparent;
    opacity: 0;
  }
  10% {
    background: linear-gradient(-135deg, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    font-weight: 600;
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    color: transparent;
    background: linear-gradient(-135deg, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    font-weight: 600;
    opacity: 1;
  }
}
/*######################## MIXINS | SCREENS #####################*/
/*====== DESKTOP ======*/
@media screen and (min-width: 1024px) {
  .card {
    width: calc(25vw - 25px) !important;
  }
  .operating-steps .section__content, .restaurants .section__content {
    flex-direction: row;
  }
}

/*# sourceMappingURL=style.css.map */
