/*====== HOME ======*/
.home {
    position: relative;
    display: flex;
    flex-direction: column;

    /*** LOCATION ***/
    .location {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        height: 50px;
        background-color: #eaeaea;
        &__text {
            font-weight: bold;
            opacity: 1;
        }
    }

    /*** PREVIEW ***/
    .preview {
        justify-content: center;
        align-items: center;
        text-align: center;
        .section__title {
            padding: 0 36px;
        }
    }
    /*** OPERATING-STEPS ***/
    .operating-steps {
        background-color: #fff;
        .section__title {
            padding-left: 10px;
        }
        &__list {
            position: relative;
        }
        &__item {
            position: relative;
            display: flex;
            align-items: center;
            gap: 20px;
            cursor: pointer;
            padding: 0 32.5px;
            background-color: #f6f6f6;
            height: 70px;
            border-radius: 15px;
            box-shadow: 0 0 16px 0 rgba(#413737, 0.3);
            margin-left: 10px;
            i {
                color: #7e7e7e;
            }
            &:hover {
                background-color: #f5edff;
                i{
                    color: $primary;
                }
            }
        }
        &__number {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            color: white;
            background-color: $primary;
            width: 25px;
            height: 25px;
            left: -12.5px;
            border-radius: 50%;
        }
        &__text {
            font-weight: 600;
        }
    }
}